.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.all-posts {
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.posts-view {
  width: 100%;
}

.post-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.single-post {
  display: flex;
  width: 300px;
  background-color: white;
  flex-direction: column;
  align-items: stretch;
  border-radius: 20px 0 20px 20px;
  flex: 1 0 auto;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.205);
}

.single-post>* {
  display: flex;
  flex-wrap: nowrap;


}

.single-post a:hover {
  color: red;
  cursor: pointer;
}

.single-post .new-message {
  width: 100%;
}

.single-post .new-message input {
  width: 80%;
}

.post-body {
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
}

.post-header {
  text-align: left;
  background-color: rgb(232, 232, 232);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 0;
}

.post-title {
  text-align: left;
}

.post-user,
.post-price {
  font-weight: bold;
}

.post-time {
  font-size: smaller;
}

.header-buttons {
  display: flex;
}


.post-header i {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

.post-body>* {
  width: 100%;
  text-align: left;
}



.post-header .active.fa-star {
  background-color: grey;
  color: gold;
}

.post-header i:hover {
  opacity: .7;
}

.post-header-left {
  display: flex;
  flex-direction: column;
}

.post-user {
  margin-bottom: -8px;
}

#filter-bar {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.205);
  flex: 0 0 auto;
  position: relative;
  top: -50px;
  border-radius: 0 0 15px 0;

}

#filter-bar .nav-link {
  width: 100%;
  border-radius: 0 15px 15px 0;
  border: 1px solid transparent;
  padding: 10px;
  font-size: .9em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

#filter-bar .nav-link:hover {
  background-color: rgb(217, 231, 255)
}

#search-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: -4px 3px 7px 0 rgba(0, 0, 0, 0.205);
}

#search-box label {
  text-align: left;
}

#search-box textarea {

  resize: none;
}

.post-messages {
  align-self: flex-end;
}

#new-post {
  height: 100%;
  width: 400px;
  background-color: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.205);
  border-radius: 20px 0 20px 20px;
  position: relative;
  top: -50px;
}

#new-post .new-post-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(232, 232, 232);
  border-radius: 20px 0;
}

#new-post form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#new-post form>* {
  height: 100%;
  display: flex;
  flex-direction: column;
}



#new-post label {
  text-align: left;
}

#new-post form button {
  display: flex;
  align-items: center;
}

#new-post .description {
  resize: vertical
}

#edit-container .form-container {
  display: flex;
  flex-direction: column;
}

#edit-container .form-container label {
  text-align: left;
}

#edit-container {
  width: 600px;
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
  border: 1px lightgrey solid;
}

#edit-container textarea {
  resize: none;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 5px;
}

#edit-container input {
  border-radius: 5px;
  border: 1px solid black
}

#edit-modal {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#edit-header {
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px lightgrey solid;
  padding: 15px;
  border-radius: 20px 20px 0 0;
}

#edit-header>* {
  margin: 0;
  padding: 0;
}

.edit-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.edit-form .edit-buttons {
  display: flex;
  justify-content: flex-end;
}

.new-post input,
.new-post textarea {
  border-radius: 5px;
  border: none;
  /* box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.205); */
}