.messages {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
}

.messages-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.messages-header button {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.all-messages {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.single-message,
.sort-bar {
  display: flex;
  border: 1px black solid;
  margin-top: -1px;
}


.sort-bar {
  font-weight: bold;
}

.sort-user {
  width: 125px;
  text-align: left;
}

.sort-description {
  width: 70%;
  text-align: left;
}

.sort-bar>*:hover {
  box-shadow: 0px 0px 4px black;
}

.message-username {
  width: 125px;
  text-align: left;
}

.single-message:hover {
  box-shadow: 0px 0px 4px black;
}