.messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  gap: 15px;
  padding: 20px 20px;
}

.messages-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.messages-header button {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.all-messages {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.single-message:nth-child(even) {
  background-color: white;
}

.single-message:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

.single-message,
.sort-bar {
  display: flex;
  padding: 5px;
  margin-top: -1px;
}


.sort-bar {
  font-weight: bold;
}

.sort-user {
  width: 125px;
  text-align: left;
}

.sort-description {
  width: 70%;
  text-align: left;
}


.message-username {
  width: 125px;
  text-align: left;
}

.single-message:hover {
  box-shadow: inset 0px 0px 4px black;
}